# Configuração do backend
PORT=3000
SUPABASE_URL=https://txzwovonnlwvciqxkisz.supabase.co
SUPABASE_ANON_KEY=sb_publishable_b2TscGwXwn9_qGY9gi4yAA_t6WjhOeC
SUPABASE_REDIRECT_URL=http://localhost:3000/auth/callback
